{{#>base page="post"}}
  {{#>layouts/single-column}}
    <header {{region "header"}}>
      {{>components/header}}
    </header>

    <main {{region "main"}}>
      {{>pages/post/default/content}}
    </main>
  {{/layouts/single-column}}
{{/base}}
