.unsaved-changes {
  max-height: initial;
  overflow: visible;
  opacity: 1;
  transform: scale(1, 1);
}

.unsaved-changes {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: scale(1, 0);
  transition: all .5s;
}

body.tool-content-editor-active [data-editable="true"] {
  --outline-offset: 7px;
  --outline-width: 3px;
  --outline-color: gainsboro;
  box-shadow:
    0 0 0 var(--outline-offset) white,
    0 0 0 calc( var(--outline-offset) + var(--outline-width) ) var(--outline-color);
  outline-offset: var(--outline-offset);
  border-radius: 1px;
  transition: all .3s;
}

body:not(.tool-content-editor-active) img[alt="writ summary divider"] {
  opacity: 0;
  position: absolute;
}

body.tool-content-editor-active img[alt="writ summary divider"] {
  --summary-color: gainsboro;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 1px;
  margin: 0.5rem 0;
  padding: 1rem 0;
  cursor: ns-resize;
  background: var(--summary-color);
  transform: scaleX(0.3);
  opacity: 1;
  box-shadow:
    inset 0 calc(1rem - 1px) 0 white,
    inset 0 -1rem 0 white;
}

body.tool-content-editor-active img[alt="writ summary divider"]:hover {
  box-shadow:
    inset 0 0.8rem 0 white,
    inset 0 -0.8rem 0 white;
}

body.tool-content-editor-active [data-editable="true"]:hover {
  --outline-color: deepskyblue;
}

body.tool-content-editor-active [data-editable="true"]:hover img[alt="writ summary divider"] {
  --summary-color: deepskyblue;
}

body.tool-content-editor-active [data-editable="true"]:focus-within {
  --outline-color: transparent;
  --outline-offset: 1px;
}

body.tool-content-editor-active [data-editable="true"]:focus-within img[alt="writ summary divider"] {}

.writ-toolbar .tool-btn[data-tool-id="content-editor"] svg {
    fill: var(--color);
    position: relative;
    width: 100%;
    height: 100%;
    animation: defaults .5s forwards;
    transition: all .3s;
}

.writ-toolbar .tool-btn[data-tool-id="content-editor"]:hover svg {
    animation: typing 1s infinite, direction 2s infinite;
}

@keyframes defaults {
    to {
        top: 0;
        transform: translate(0, 0);
    }
}

@keyframes direction {
    from, to {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(55%, -62%);
    }
}

@keyframes typing {
    from, to {
        top: 0;
    }
    20% {
        top: .15em;
    }
    40% {
        top: -.15em;
    }
    70% {
        top: 0;
    }
}

.writ-toolbar .tool-btn[data-tool-id="content-editor"] .tool-btn-animation {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-size: 10px;
    letter-spacing: -0.2em;
    transform-style: preserve-3d;
    text-transform: uppercase;
    transform: rotate(-45deg) rotateX(45deg) translateX(-30%) translateY(90%);
    mask-image: linear-gradient(to right, #000, #000 33%, #000c 66%, #0001);
    color: var(--color);
    transition: all 1s;
}

.writ-toolbar .tool-btn[data-tool-id="content-editor"]:hover .tool-btn-animation {
    pointer-events: initial;
    opacity: 1;
}
