.unsaved-changes {
  max-height: initial;
  overflow: visible;
  opacity: 1;
  transform: scale(1, 1);
}

.unsaved-changes {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: scale(1, 0);
  transition: all .5s;
}

body.tool-content-editor-active [data-editable="true"] {
  --outline-offset: 7px;
  --outline-width: 3px;
  --outline-color: gainsboro;
  box-shadow:
    0 0 0 var(--outline-offset) white,
    0 0 0 calc( var(--outline-offset) + var(--outline-width) ) var(--outline-color);
  outline-offset: var(--outline-offset);
  border-radius: 1px;
  transition: all .3s;
}

body:not(.tool-content-editor-active) img[alt="writ summary divider"] {
  opacity: 0;
  position: absolute;
}

body.tool-content-editor-active img[alt="writ summary divider"] {
  --summary-color: gainsboro;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 1px;
  margin: 0.5rem 0;
  padding: 1rem 0;
  cursor: ns-resize;
  background: var(--summary-color);
  transform: scaleX(0.3);
  opacity: 1;
  box-shadow:
    inset 0 calc(1rem - 1px) 0 white,
    inset 0 -1rem 0 white;
}

body.tool-content-editor-active img[alt="writ summary divider"]:hover {
  box-shadow:
    inset 0 0.8rem 0 white,
    inset 0 -0.8rem 0 white;
}

body.tool-content-editor-active [data-editable="true"]:hover {
  --outline-color: deepskyblue;
}

body.tool-content-editor-active [data-editable="true"]:hover img[alt="writ summary divider"] {
  --summary-color: deepskyblue;
}

body.tool-content-editor-active [data-editable="true"]:focus-within {
  --outline-color: transparent;
  --outline-offset: 1px;
}

body.tool-content-editor-active [data-editable="true"]:focus-within img[alt="writ summary divider"] {}
