{{#>base page="category"}}
  {{#>layouts/single-column}}
    <header {{region "header"}}>
      {{>components/header}}
    </header>

    <main {{region "main"}}>
      {{>components/posts}}
    </main>
  {{/layouts/single-column}}
{{/base}}
