<template id="editor-tmpl">
  <div class="writ-editor">
    <div class="checkbox-control">
      <input type="checkbox" class="checkbox-input" id="edit-mode" />
      <label for="edit-mode" class="checkbox-label">
        Edit mode
      </label>
    </div>
    <button type="button" id="rebuild-btn">Rebuild</button>
    <button type="button" id="save-btn">Save</button>
    <div class="unsaved-changes">
      <h3>Unsaved changes:</h3>
      <ul id="unsaved-changes-list" class="unsaved-changes-list"></ul>
    </div>
  </div>
</template>

<style type="text/css">
:root {
  --editor-height: 36px;
}

body {
  margin-top: var(--editor-height);
}

.writ-editor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--editor-height);
  background: #fffa;
  backdrop-filter: blur(5px);
  transition: all .5s;
}

.writ-editor .checkbox-control {
  --padding: 0.25rem;
  padding: var(--padding);
  position: relative;
  display: inline-flex;
}

.writ-editor .checkbox-control .checkbox-input {
  margin: 0;
  position: absolute;
  top: 50%;
  left: calc(var(--padding) + 0.5rem);
  z-index: 1;
  transform: translateY(-55%);
}

.writ-editor .checkbox-control .checkbox-label {
  padding: 0.5em 0.5em 0.4em 1.75em;
  font: normal 14px/1 helvetica, arial, sans-serif;
  background: hotpink;
  border-radius: 5px;
}

.writ-editor .checkbox-control :checked + .checkbox-label {
  background: yellow;
}

.writ-editor .checkbox-control .checkbox-input {
  margin: 0;
  align-self: flex-start;
}

.writ-editor .unsaved-changes {
  max-height: initial;
  overflow: visible;
  opacity: 1;
  transform: scale(1, 1);
}

.writ-editor .unsaved-changes {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: scale(1, 0);
  transition: all .5s;
}

body.edit-mode [data-editable="true"] {
  --outline-offset: 7px;
  --outline-width: 3px;
  --outline-color: gainsboro;
  box-shadow:
    0 0 0 var(--outline-offset) white,
    0 0 0 calc( var(--outline-offset) + var(--outline-width) ) var(--outline-color);
  outline-offset: var(--outline-offset);
  border-radius: 1px;
  transition: all .3s;
}

body:not(.edit-mode) [data-editable="true"][data-section="summary"] {
  opacity: 0;
  position: absolute;
}

body.edit-mode [data-editable="true"][data-section="summary"] {
  --summary-color: gainsboro;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 1px;
  margin: 0.5rem 0;
  padding: 1rem 0;
  cursor: ns-resize;
  background: var(--summary-color);
  transform: scaleX(0.3);
  opacity: 1;
  box-shadow:
    inset 0 calc(1rem - 1px) 0 white,
    inset 0 -1rem 0 white;
}

body.edit-mode [data-editable="true"][data-section="summary"]:hover {
  box-shadow:
    inset 0 0.8rem 0 white,
    inset 0 -0.8rem 0 white;
}

body.edit-mode [data-editable="true"]:hover {
  --outline-color: deepskyblue;
}

body.edit-mode [data-editable="true"]:hover [data-section="summary"]{
  --summary-color: deepskyblue;
}

body.edit-mode [data-editable="true"]:focus-within {
  --outline-color: transparent;
  --outline-offset: 1px;
}

body.edit-mode [data-editable="true"]:focus-within [data-section="summary"] {}
</style>

<script type="text/javascript">
  const query = document.querySelector.bind(document)
  const queryAll = document.querySelectorAll.bind(document)

  const editorTemplate = query('#editor-tmpl')
  const editorElement = editorTemplate.content.firstElementChild
  const unsavedChangesList = editorElement.querySelector('#unsaved-changes-list')

  const rebuild = () => {
    return fetch('/cms/refresh')
  }

  const Post = {
    updateContent(path, content) {
      return fetch(`/cms/post`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          content,
          path
        })
      })
    },

    updateTitle(path, title, foldered) {
      return fetch(`/cms/post`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          title,
          updateUrl: true,
          path,
          foldered
        })
      })
    }
  }

  const findParent = (element, selector) => {
    if (element === document.body) {
      return null
    }
    const el = document.createElement('div')
    el.innerHTML = element.parentElement.outerHTML
    if (el.querySelector(selector)) {
      return element.parentElement
    }
    return findParent(element.parentElement, selector)
  }

  const omit = (object, keyToOmit) => {
    const keys = Object.keys(object)
    const restKeys = keys.filter(k => k !== keyToOmit)
    const restObject = restKeys.reduce((obj, key) => {
      return {
        ...obj,
        [key]: object[key]
      }
    }, {})
    return restObject
  }

  const restoreSeeMore = (content) => {
    const el = document.createElement('div')
    el.innerHTML = content
    const seeMore = el.querySelector('[data-section="summary"]')
    const parentNode = seeMore.parentNode
    const grandParentNode = parentNode.parentNode
    if (grandParentNode && !grandParentNode.querySelector('[data-section="content"]')) {
      const isFirst = !seeMore.previousSibling
      const isOnly = isFirst && !seeMore.nextSibling
      const insertPosition = isFirst ? 'beforeBegin' : 'afterEnd'
      parentNode.insertAdjacentElement(insertPosition, seeMore)
      if (isOnly) {
        parentNode.remove()
      }
      return restoreSeeMore(el.innerHTML)
    }
    seeMore.replaceWith('\{\{seeMore}}')
    return el.innerHTML
  }

  const toggleEditMode = (isEditMode) => {
    document.body.classList.toggle('edit-mode')
    editMode = !editMode
    editables.forEach(editable => {
      editable.contentEditable = isEditMode
    })
  }

  const forbiddenChars = 'äÄåÅÉéi̇ıİİöÖüÜçÇğĞşŞ'
  const slugChars = 'aaaaeeiiiioouuccggss'

  const getSlug = (string) => {
    string = string.trim()
    string = string.replace(/\s+/g, '-')
    for (let i = 0; i < forbiddenChars.length - 1; i++) {
      const regex = new RegExp(forbiddenChars[i], 'gi')
      string = string.replace(regex, slugChars[i])
    }
    return string.toLowerCase()
  }

  let editMode = false
  let unsavedChanges = {}

  document.body.appendChild(editorElement)
  document.title = (() => {
    var el = document.createElement('div')
    el.innerHTML = document.title
    return el.innerText
  })()

  query('#rebuild-btn').addEventListener('click', () => {
    rebuild()
  })

  query('#save-btn').addEventListener('click', async () => {
    console.log('changes', unsavedChanges)
    Object.keys(unsavedChanges).forEach(async (filePath) => {
        const change = unsavedChanges[filePath]
        if (!change) {
          return
        }
        if (change.content) {
          await Post.updateContent(filePath, restoreSeeMore(change.content))
        }
        if (change.title) {
          const response = await Post.updateTitle(filePath, change.title, change.foldered)
          if (change.ownPageChange && response.redirected) {
            window.history.pushState({}, '', response.url)
          }
        }
    })
  })

  query('#edit-mode').addEventListener('change', (e) => {
    toggleEditMode(e.target.checked)
    localStorage.setItem(localStorageKey, JSON.stringify({
      editMode
    }))
  })

  const editables = Array.from(queryAll('[data-editable="true"]'))
  const originals = editables.map(e => ({
    path:
      e.dataset.section === 'summary' ?
      findParent(e, '[data-section="content"]').dataset.path :
      e.dataset.path,
    content: e.innerHTML
  }))

  editables.forEach(editable => {
    let { section, path, foldered } = editable.dataset
    if (section === 'summary') {
      path = findParent(editable, '[data-section="content"]').dataset.path
    }
    const originalContent = originals.find(c => c.path === path).content

    editable.addEventListener('input', (e) => {
      const isSameContent = originalContent === editable.innerHTML
      if (isSameContent) {
        const otherChanges = omit(omit(unsavedChanges[path], section), 'foldered')
        if (Object.keys(otherChanges).length) {
          unsavedChanges[path] = otherChanges
        } else {
          unsavedChanges = omit(unsavedChanges, path)
        }
      } else {
        unsavedChanges[path] = {
          ...unsavedChanges[path],
          [section]: editable.innerHTML.trim(),
          foldered: foldered === 'true' || foldered === true,
          ownPageChange: section === 'title' && location.href.match(getSlug(originalContent))
        }
      }
      unsavedChangesList.innerHTML = Object.keys(unsavedChanges).map(path => `
        ${Object.keys(unsavedChanges[path]).map(key => `
          <li>${path} (${unsavedChanges[path][key]})</li>
        `)}
      `).join('')
      editorElement.classList.toggle('unsaved', Object.keys(unsavedChanges).length)
    })

    editable.addEventListener('click', e => {
      if (editMode && findParent(editable, 'a')) {
        e.preventDefault()
      }
    })
  })

  const localStorageKey = 'editor'
  const store = localStorage.getItem(localStorageKey)

  if (store && JSON.parse(store) && JSON.parse(store).editMode) {
    query('#edit-mode').checked = true
    toggleEditMode(true)
  }
</script>
