{{>root/components/site-title}}

{{#if (isEnabled "search")}}
  {{>features/search}}
{{/if}}

<nav class="categories">
    {{#each categories as |category|}}
        <a class="categories-item category-link" href="{{category.permalink}}">
            {{category.name}}
        </a>
    {{/each}}
</nav>
