{{#>base page="homepage"}}
  {{#>layouts/single-column}}
    <header {{region "header"}}>
      {{>root/components/header}}
    </header>

    <main {{region "main"}}>
      {{> @partial-block }}
      {{>root/components/posts}}
    </main>
  {{/layouts/single-column}}
{{/base}}
