{{#>base page="facet-value"}}
  <h1>{{settings.site.title}}</h1>

  <h2>{{facetValue.title}}</h2>
  <ul>
    {{#each facetValue.posts as |post|}}
    <li><a href="{{post.permalink}}">{{post.title}}</a></li>
    {{/each}}
  </ul>
{{/base}}
