{{#>base page="tag"}}
  {{#>layouts/single-column}}
    <header {{region "header"}}>
      {{>components/header}}
    </header>

    <main {{region "main"}}>
      <h2>{{lookup "tagIndexHeader" (map 'tag' tag.tag)}}</h2>
      {{>components/posts}}
    </main>
  {{/layouts/single-column}}
{{/base}}
