{{#>m-doc}}
  theme/categories.hbs

  Lists each category as a text link.
{{/m-doc}}
<nav class="categories">
    {{#each categories as |category|}}
        <a class="categories-item" href="{{category.permalink}}">
            {{category.name}}
        </a>
    {{/each}}
</nav>
