{{#>base page="category"}}
  {{#>layouts/single-column}}
    <header {{region "header"}}>
      {{>components/header}}
    </header>

    <main {{region "main"}}>
      {{> @partial-block }}
      {{>components/posts posts=category.posts}}
    </main>
  {{/layouts/single-column}}
{{/base}}
