/*
 * System-default search.css
 * */
.feat-search {
    position: relative;
    height: 3em;
    width: 220px;
}

.feat-search-form {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.feat-search-toggle {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    outline: none;
    transition: all .1s;
}

.feat-search-toggle:focus {
    background: var(--bg-color);
    box-shadow: 0 0 0 0.25em var(--bg-color), 0 0 4px 7px royalblue;
}

.feat-search-toggle::-webkit-details-marker {
    display: none;
}

.feat-search-toggle::marker {
    content: "";
    display: none;
}

.feat-search-icon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    fill: currentColor;
}

.feat-search[open] .feat-search-toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -25%);
}

.feat-search[open] .feat-search-toggle {
    animation: fade-out .25s forwards;
}

.feat-search[open] .feat-search-form {
    animation: fade-in 1s forwards;
}

.feat-search-result {
    margin-bottom: 2rem;
}

.feat-search-visual-card {
    display: inline-flex;
    gap: 1.5rem;
}

.feat-search-visual-card img {
    width: 90px;
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}
