:root {
    --bg-color: #f5f5f5;
    --container-color: #fff;
    --text-color: #333;
    --link-color: #333;
    --category-link-color: sienna;
}

body.dark {
    --bg-color: #222;
    --container-color: #32363f;
    --text-color: #e0e3e6;
    --link-color: #e0e3e6;
    --category-link-color: hsl(19, 56.1%, 60.2%);
}
