{{#>base page="post"}}
  {{#>layouts/single-column}}
    <header {{region "header"}}>
      {{>blog/components/header}}
    </header>

    <main {{region "main"}}>
      {{>blog/pages/post/audio/content}}
    </main>
  {{/layouts/single-column}}
{{/base}}
