body {
    margin: 0;
    font: normal 20px/1.5 times, serif;
    background: var(--bg-color);
    color: var(--text-color);
}

h1 {
    margin: 0;
    padding: 0;
}

a {
    color: var(--link-color);
}

.category-link {
    color: var(--category-link-color);
}

.icon-symbols {
    display: none;
}

.music-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    fill: currentColor;
}

.date-icon {
    width: 20px;
    height: 20px;
    vertical-align: text-top;
    fill: currentColor;
}

.category-icon {
    width: 20px;
    height: 20px;
    vertical-align: text-top;
    fill: currentColor;
}

.tag-icon {
    width: 20px;
    height: 20px;
    vertical-align: text-top;
    fill: currentColor;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 2em 6em 4em;
    background: var(--container-color);
    min-height: 60vh;
    overflow: hidden;
}

@media (max-width: 940px) {
    .container {
        max-width: 100%;
        padding: 2em;
    }
}

[data-region-id="header"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.site-title {
    font-size: 3em;
    cursor: alias;
}

.site-title:first-letter {
    margin-right: -0.03em;
}

.categories {
    display: flex;
    gap: 2em;
}

.categories-item {
    font-size: 24px;
    letter-spacing: -0.03em;
}

.photo-thumbnail img {
    max-width: 200px;
    max-height: 200px;
}

.post {
    transition: all .3s;
}

.post:first-of-type h2 {
    max-width: 60%;
    margin-inline: auto;
    margin-block: 1em;
    font-size: 56px;
    text-align: center;
    letter-spacing: -0.05em;
}

.post h2 {
    font-size: 36px;
    max-width: 60%;
    letter-spacing: -0.05em;
    margin-block: 3em 1em;
}

.post h3 {
    font-size: 28px;
    letter-spacing: -0.03em;
}

.post p {
    margin-inline: auto;
    font-size: 24px;
    letter-spacing: -0.03em;
    text-wrap: balance;
    word-spacing: 0.12em;
}

.post img {
    max-width: 100%;
}

.post-cover {
    --cover-position: 50% 100%;
    --radius: 50% 100%;
    width: 100%;
    aspect-ratio: 1.5;
    object-fit: cover;
    object-position: var(--cover-position);
}

.post-cover.shape-roundTop {
    border-top-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
}

.post-cover.shape-roundBottom {
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}

.post-metadata td {
    padding-right: 5px;
}

.post-tags {
    margin: 0;
    padding: 0;
    list-style: none;
}

.post-tags-item {
    display: inline-block;
}

.post-music-list {
    list-style: none;
    padding: 0;
}

.post-music-list-icon {
    margin-right: 6px;
}
