name: Tests (windows/macOS/ubuntu)

on: push

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        node: [20, 22, 24]

    name: Node ${{ matrix.node }} on ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node }}
    - name: install dependencies
      run: npm ci
    - name: run tests
      run: npm run test:ci
    - name: Coveralls
      uses: coverallsapp/github-action@v2
